.blob{
    width: 300px;
    height:300px;
    border-radius: 60% 40% 40% 60% / 60% 40% 60% 40%;
    overflow:hidden;
    animation : flow 5s infinite ease-in-out;
    background-color:rgb(38, 18, 186);
    margin-top: 10px;
    margin-left:20px;

    flex: 1;
    

}
.blob img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
@keyframes flow {
    0%{
        border-radius: 60% 40% 40% 60% / 60% 40% 60% 40%;
    }
    35%{
        border-radius: 80% 70% 60% 60% / 80% 70% 60% 60%;
    }
    70%{
        border-radius: 70% 90% 60% 70% / 80% 90% 50% 90%;
    }
    100%{
        border-radius: 60% 40% 40% 60% / 60% 40% 60% 40%;
    }
    
}
.hero-section{
    
    height: 400px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-flex;
    
    background-image:url('../../assets/bg1.webp')
  
}
.intro{
    margin-left: 200px;
    margin-top: 20px;
    flex: 1;
    color: azure;
  
    
    
}

h2{
    color: #fdbb2d;
    text-align : center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .card {
    width: calc(50% - 20px); /* Adjust width and margin as needed */
    margin: 10px;
  }

@media (max-width: 767px) {
    .container {
      flex-direction: column; /* Display cards in a single column on small screens */
      align-items: stretch; /* Stretch cards to full width */
    }
    
    .card {
      width: calc(100% - 20px);
      margin: auto; /* Set width to 100% for small screens */
      border: 1px solid black;
      margin-bottom: 20px;
    }

  }

  @media (max-width: 767px) {
    .blob,
    .intro {
      max-width: 100%;
      margin-left: 10px;
      overflow-wrap: break-word;                          /* On small screens, each child occupies full width */
    }

    



  }

.skill1{
  width: 150px;
  height:100px;
  margin-left: 20px;
  margin-right: 20px;
  display: inline;
  align-items: center;
}
.skill2{
  width: 150px;
  height:100px;
  margin-left: 50px;
  
  margin-right: 20px;
  display: inline;
  align-items: center;
}
.second_set{
  margin-left: 20%;
}
.first_set{
  margin-left: 10%;
}

